filebeat.prospectors:

# Each - is a prospector. Most options can be set at the prospector level, so
# you can use different prospectors for various configurations.
# Below are the prospector specific configurations.

############# prospector for ODM logs (for ODM running on WAS) ####################
# change the paths to point to your WAS SystemOut.log and WAS SystemErr.log
# for example /opt/IBM/WebSphere/AppServer/profiles/AppSrv01/logs/server1/SystemOut.log
#
# change ibm_userDir to the directory under which WAS instance is running
# for example ibm_userDir: /opt/IBM/WebSphere/AppServer/profiles/AppSrv01
#
# change ibm_serverName to profile name of WAS Server
# for example ibm_serverName: AppSrv01
#
#
# change ibm_tags to type of ODM server
# for example ibm_tags: "IBM_ODM_Decision_Center"
#          or ibm_tags: "IBM_ODM_Decision_Server"
#
# if there are more than one instance of ODM on WAS running on same host, copy,paste
# the following sections for each instance and change ibm_userDir, ibm_serverName, ibm_tags
# for each of them
#################################################################################
- input_type: log
  document_type: twas_systemout_odm
  paths:
    - /opt/IBM/WebSphere/AppServer/profiles/AppSrv01/logs/server1/SystemOut.log

  multiline:
    pattern: ^\[
    negate: true
    match: after

  fields:
    ALCH_TENANT_ID: "ALCH_TENANT_ID_VALUE"
    ibm_userDir: "<your_ODM_WAS_instance_dir>"
    ibm_serverName: "<your_ODM_WAS_Server_Name>"
    ibm_tags: "<your_ODM_WAS_tag>"
    host: "host_value"
    DateFormat: "1/2/06 15:04:05:000 MST"
    TimestampField: "ibm_datetime_date"
  fields_under_root: true

## end of prospectors

processors:
 - drop_fields:
     when:
        and:
          - equals:
               type: twas_systemout_odm
          - or:
               - grok:
                    message: "%{WASSYSOUTHEADER}"
               - and:
                    - grok:
                         message: "%{WASSYSOUT}"
                    - grok:
                         message: "%{ODMMESSAGE}"
                    - grok:
                        message: "%{ODMMESSAGERULESET}"
     fields: ["beat","offset","DateFormat","TimestampField"]

## end of processors