################### Filebeat Configuration for C2Clogging ###################

#=========================== Filebeat prospectors =============================

filebeat.prospectors:

# Each - is a prospector. Most options can be set at the prospector level, so
# you can use different prospectors for various configurations.
# Below are the prospector specific configurations.

######## prospector for WAS access_log ####################################
# change the path to point to your WAS access log
# example : /opt/IBM/WebSphere/AppServer/profiles/AppSrv01/logs/server1/http_access.log
#
# we have tested this with WAS 8.5.5 and WAS 9.0
# Note : Access log format must be set to: %h %i %u %t "%r" %s %b %D
#        See "Enabling Access Logging" for instructions on setting the access log format
#
# example access log for WAS with elapsedTime is as follows
#
# 192.168.99.1 - - [09/Feb/2017:15:36:09 +0000] "GET /hitcount?selection=EJB HTTP/1.1" 200 2223 5111000
#
# replace ibm_userDir with the folder name under which WAS is running
# example: ibm_userDir: "/opt/IBM/WebSphere/AppServer/profiles/AppSrv01"
#
# replace ibm_serverName with WAS serverName
# example : ibm_serverName: "AppSrv01"
###########################################################################
- input_type: log
  document_type: twas_accesslog
  paths:
    - /opt/IBM/WebSphere/AppServer/profiles/AppSrv01/logs/server1/http_access.log
  fields:
         ALCH_TENANT_ID: "ALCH_TENANT_ID_VALUE"
         ibm_userDir: "<your_WAS_instance_dir>"
         ibm_serverName: "<your_WAS_Server_Name>"
         host: "host_value"
         DateFormat: "02/Jan/2006:15:04:05 -0700"
         TimestampField: "ibm_datetime_date"
  fields_under_root: true

## end of prospectors

processors:
 - drop_fields:
     when:
        and:
          - equals:
              type: twas_accesslog
          - grok:
              message: "%{WEBACCESSLOG}"
     fields: ["beat","message","offset","DateFormat","TimestampField"]

## end of processors