################### Filebeat Configuration for C2Clogging ###################

#=========================== Filebeat prospectors =============================

filebeat.prospectors:

# Each - is a prospector. Most options can be set at the prospector level, so
# you can use different prospectors for various configurations.
# Below are the prospector specific configurations.

############ prospector for MQ AMQERR logs ##############################
# change the path to point to your IHS access log
# example : /opt/IBM/HTTPServer/logs
#
# we have tested this with IHS 8.5.5 and IHS 9.0
# Note : with IHS 8.5.5 elapsedTime is not added automatially. you need to change
# LogFormat in httpd.conf file to
# LogFormat "%h %l %u %t \"%r\" %>s %b %D" common
#
# example access log for 8.5.5 with elapedTime is as follows
# 9.42.75.197 - - [10/Nov/2016:19:01:13 +0530] "GET /DailyReg/events HTTP/1.1" 502 492 300098589
#
# example access log for 9.0 is as follows
# 9.42.75.197 - - [10/Nov/2016:19:01:13 +0530] "GET /DailyReg/events HTTP/1.1" 502 492 300098589 +
#
# replace ibm_userDir with the folder name under which IHS is running
# example: ibm_userDir: "/opt/IBM/HTTPServer"
#
# replace ibm_ServerName with IHS serverName
# example : ibm_serverName: "HTTPServer"
###########################################################################

- input_type: log
  document_type: mq_errorLogs
  paths:
    - /var/mqm/errors/*
    #----------------------------
    #   For QMGr error logs,add a path for each QMGr error logs processing.
    #----------------------------
    #   - /var/mqm/qmgrs/<QMGr Name>/errors/*

  multiline:
    pattern: ^-----
    negate: true
    match: before

  fields:
         ALCH_TENANT_ID: "ALCH_TENANT_ID_VALUE"
         DateFormat: "01/02/2006 15:04:05"
#        DateFormat: "01/02/2006 03:04:05 PM"
         TimestampField: "ibm_datetime"
  fields_under_root: true


###########################################################################################
# processors define processing to be performed on each type of logs before they are
# sent to their end point
# grok pattern can be specified under grok condition directly or in a file present
# under grokpatterns folder
###########################################################################################

processors:
 - drop_fields:
     when:
        and:
          - equals:
              type: mq_errorLogs
          - or:
            - grok:
               message: "%{MQ_ERROR}"
            - grok:
               message: "%{MQ_ERRORENV}"
     fields: ["beat","offset"]

############################# Output ##########################################

# Configure what outputs to use when sending the data collected by the beat.
# Multiple outputs may be used.

#----------------------------- Logstash output ---------------------------------
#output.logstash:
  # Boolean flag to enable or disable the output module.
  #enabled: true

  # The Logstash hosts
  #hosts: ["localhost:5044"]


#----------------------------- Logmet output ---------------------------------
output.logmet:
  # Boolean flag to enable or disable the output module.
  enabled: true

  # The Logstash hosts
  hosts: ["logmet_value:9091"]

  # Enable SSL support. SSL is automatically enabled, if any SSL setting is set.
  ssl.enabled: true

  # Certificate for SSL client authentication
  ssl.certificate: "certificate_value"

  # Client Certificate Key
  ssl.key: "certificate_key_value"

  # Spaceid
  ssl.space_id: "ALCH_TENANT_ID_VALUE"

  #Logging token
  ssl.logging_token: "logging_token_value"


############################# Logging #########################################

# There are three options for the log ouput: syslog, file, stderr.
# Under Windos systems, the log files are per default sent to the file output,
# under all other system per default to syslog.
logging:

  # Send all logging output to syslog. On Windows default is false, otherwise
  # default is true.
  to_syslog: false

  # Write all logging output to files. Beats automatically rotate files if rotateeverybytes
  # limit is reached.
  to_files: true

  # To enable logging to files, to_files option has to be set to true
  files:
    # The directory where the log files will written to.
    path: log_path_value

    # The name of the files where the logs are written to.
    name: filebeat.log

    # Configure log file size limit. If limit is reached, log file will be
    # automatically rotated
    rotateeverybytes: 10485760 # = 10MB

    # Number of rotated log files to keep. Oldest files will be deleted first.
    #keepfiles: 7

  # Enable debug output for selected components. To enable all selectors use ["*"]
  # Other available selectors are beat, publish, service
  # Multiple selectors can be chained.
  #selectors: [ ]

  # Sets log level. The default log level is error.
  # Available log levels are: critical, error, warning, info, debug
  level: info


