################### Filebeat Configuration for C2Clogging ###################

#=========================== Filebeat prospectors =============================

filebeat.prospectors:

# Each - is a prospector. Most options can be set at the prospector level, so
# you can use different prospectors for various configurations.
# Below are the prospector specific configurations.

############ prospector for MQ AMQERR logs ##############################
# change the path to point to your IHS access log
# example : /opt/IBM/HTTPServer/logs
#
# we have tested this with IHS 8.5.5 and IHS 9.0
# Note : with IHS 8.5.5 elapsedTime is not added automatially. you need to change
# LogFormat in httpd.conf file to
# LogFormat "%h %l %u %t \"%r\" %>s %b %D" common
#
# example access log for 8.5.5 with elapedTime is as follows
# 9.42.75.197 - - [10/Nov/2016:19:01:13 +0530] "GET /DailyReg/events HTTP/1.1" 502 492 300098589
#
# example access log for 9.0 is as follows
# 9.42.75.197 - - [10/Nov/2016:19:01:13 +0530] "GET /DailyReg/events HTTP/1.1" 502 492 300098589 +
#
# replace ibm_userDir with the folder name under which IHS is running
# example: ibm_userDir: "/opt/IBM/HTTPServer"
#
# replace ibm_ServerName with IHS serverName
# example : ibm_serverName: "HTTPServer"
###########################################################################

- input_type: log
  document_type: mq_errorLogs
  paths:
    - /var/mqm/errors/*
    #----------------------------
    #   For QMGr error logs,add a path for each QMGr error logs processing.
    #----------------------------
    #   - /var/mqm/qmgrs/<QMGr Name>/errors/*

  multiline:
    pattern: ^-----
    negate: true
    match: before

  fields:
         ALCH_TENANT_ID: "ALCH_TENANT_ID_VALUE"
         DateFormat: "01/02/2006 15:04:05"
#        DateFormat: "01/02/2006 03:04:05 PM"
         TimestampField: "ibm_datetime"
  fields_under_root: true

## end of prospectors
###########################################################################################
# processors define processing to be performed on each type of logs before they are
# sent to their end point
# grok pattern can be specified under grok condition directly or in a file present
# under grokpatterns folder
###########################################################################################

processors:
 - drop_fields:
     when:
        and:
          - equals:
              type: mq_errorLogs
          - or:
            - grok:
               message: "%{MQ_ERROR}"
            - grok:
               message: "%{MQ_ERRORENV}"
     fields: ["beat","offset"]

## end of processors
