filebeat.prospectors:

# Each - is a prospector. Most options can be set at the prospector level, so
# you can use different prospectors for various configurations.
# Below are the prospector specific configurations.

############# prospector for MQ AMQERR logs #################################
# Section to handle the IBM MQ AMQERR logs
#
# Do not change the  "document_type". Name here refers to IBM MQ script in
# "grokpatterns" directory.
#
# Change the path to point to your IBM MQ AMQERR logs
# for example /var/mqm/errors/AMQERR01.LOG
#
# IBM MQ QMgr AMQERR logs can also be monitored by adding their path.
# QMgr AMQERR logs will be available under <QMgr>/errors directory.
# for example:
#    - /var/mqm/qmgrs/<QMgr Name1>/errors/AMQERR01.LOG
#    - /var/mqm/qmgrs/<QMgr Name2>/errors/AMQERR01.LOG
#
# Change the DateFormat as per your computer's setting(24hour or AM/PM)
# Uncomment the format setting that's suitable to your computer and
# comment out the other.
#
# An instance of filebeat running per computer will suffice to monitor logs of
# IBM MQ and its QMgrs running on that computer.
#################################################################################
#- input_type: log
#  document_type: mq_errorLogs
#  paths:
#    - /var/mqm/errors/AMQERR01.LOG

#  multiline:
#    pattern: ^-----
#    negate: true
#    match: before

#  fields:
#         ALCH_TENANT_ID: "ALCH_TENANT_ID_VALUE"
#         DateFormat: "01/02/2006 15:04:05"
#        DateFormat: "01/02/2006 03:04:05 PM"
#         TimestampField: "ibm_datetime"
#  fields_under_root: true

## end of prospectors

processors:
# - drop_fields:
#     when:
#        and:
#          - equals:
#              type: mq_errorLogs
#          - or:
#            - grok:
#               message: "%{MQ_ERROR}"
#            - grok:
#               message: "%{MQ_ERRORENV}"
#     fields: ["beat","offset"]

## end of processors